<h1>Your Random Password</h1>
<p><strong><%= @password %></strong></p>
<!--<h2>Yo Momma Joke</h2>-->
<!--<p><%#= @joke %></p>-->
<a href="/generate_password"><button>Generate Again</button></a>
<a href="/"><button>Back</button></a>
